<navbar> 
 <% status = false %>
 <% if current_user %>
 <% tasks = Task.all %>
    <% tasks.each do |t| %>
      <%if t.description.include?(current_user.name) %>
        <% status = true %>
      <% end %>
    <% end %>
<% end%>

<% if status %>
  <div class="your-a-zombie">
     <h1 >You've been Tagged! Go Eat some Brains!</h1>
          <%= image_tag("tagged.png") %>
  </div>
<% else %>

<div id="chat"  >
 <div class="well">
  <%= form_for @comment, remote: true do |f| %>
    <div id = "textbox" class="form-group">
      <%= f.text_area :body, rows: 3, class: 'form-control',id: 'textarea',  maxlength: 600 %>
    </div>
    <div id = "sub">
      <%= f.submit 'Post', class: 'btn btn-primary btn-lg', id:'postmessage' , onclick: 'rateLimiter();'%>
    </div>
  <% end %>
 </div> 

  <div class="panel panel-default" id="comments"> 
     <div class="panel-body">
       <ul id = "acomment" class="media-list">
          <%= render @comments %>
          </ul>
     </div>
  </div> 
</div>

<style>
.panel-body{
  padding:0px 10px 0px 10px !important;
}
.well{
  padding:15px 10px 0px 10px;
  margin-bottom: -5px !important;
  border:none!important;}
#textarea {
    height: 50px !important;}

#textbox {
    width: 70% !important;}

#postmessage {
  padding-top:12px;
  margin-top:-64px !important;
  float: right !important;
  height: 49px !important;
  width: 25% !important;}
  #comments{
         overflow-y:scroll !important;

  }
</style>
<% end %>
