  <% if current_user && current_user.admin? %>
       <button class="reset reset-everything btn btn-lg btn-danger" onclick="reset();">Reset Zombies</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger" onclick="reset();">Reset Messages</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger" onclick="reset();">Reset Map Markers</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger" onclick="reset('resetPath');">Reset Everything</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>

  <% end%>
<center>
<div class="PlayerPane jumbotron status">
 <% status = false %>
  <% if current_user %>
    <% @tasks.each do |t| %>
      <% if t.description.include?(current_user.name) %>
      <% status = true %>
    <% end %>
  <% end%>
<% end%>
  <% if status %>
      <h3 class="player-status">Status: </h3>    
      <h3 class="player-status zombie">Zombie</h3>
 <% else %>
       <h3 class="player-status">Status: </h3>    
       <h3 class="player-status human">Human</h3>
  <% end %>
</div>
</center>
<div class="PlayerPane jumbotron top-pane">
   <legend id = "h3headerblue">Tag a Player</legend>
   <h3 class="jumbotron"style="margin-top:0;">Total # of Players: <%= User.all.length %></h3>
   <center> 
      <a  id ="PlayerListButton" href="#" class="btn btn-lg btn-primary" onclick="openBigframe('player');">Tag Player</a>
   </center>
</div>

<div class="ZombiePane jumbotron">
   <legend id = "h3header">View Zombies</legend>
   <h3 class="jumbotron"style="margin-top:0;">Total # of Zombies: <%=@tasks.count %></h3>
   <center>
      <a id ="ZombieListButton" href="#" class="btn btn-lg btn-danger" onclick="openBigframe('zombie');">View Zombies</a>
   </center>
</div>
<!--                     -->
<!--   Info Page in UI   -->
<!--                     -->

<div id="bigframe-backdrop" class="bigframe" style="background:#101010; opacity:0.9; width:100%; height:100%; position:fixed; top:0; bottom:0; left:0; right:0; z-index:9999; display:none; "></div>
<div id="bigframe-player" class="bigframe" style="background:#202020; border-radius:7px; padding:10px;  width:90%; height:95%; position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; z-index:9999; display:none;">
   <button type="button" id="player" onclick="closeBigframe('player');" style="opacity:0.9; display:inline-block; width:30px;height:30px;"class="close" >&times;</button>
   <div class="bigframe-body">
      <h2 class="modal-title" id="myModalLabel" style= "border-bottom: 2px solid rgb(51,122,183); padding-bottom:2px;">Player List</h2>
      <h3 style="margin-top:2px;">Total # of Players: <%= User.all.length %></h3>
      <h4 >Players matching your search: <%= @users.count %></h4>
      <table class="sortable table table-bordered table-condensed">
         <tbody>
            <%= search_form_for @q,  :url => tasks_path, :html =>
               { :method => :get, :class => "well form-inline" } do |f| %>
            <tr>
               <div class="form-group">
                  <td>
                     <%= f.text_field :name_cont, :type =>
                        "search" ,:class =>
                        "form-control", :placeholder =>
                        "Search by name", :id => "searchField"%>
                  </td>
                  <td>
                     <%= f.submit "Search", :id => "search" , :style =>" opacity:1;"%>
                  </td>
               </div>
            </tr>
            <% end %>
         </tbody>
      </table>
      <%= paginate @users %>
      <%= render "playerList" %>
   </div>
</div>

<!--                     -->
<!-- List of Zombies     -->
<!--                     -->
<div id="bigframe-backdrop" class="bigframe" style="background:#101010; opacity:0.9; width:100%; height:100%; position:fixed; top:0; bottom:0; left:0; right:0; z-index:9999; display:none; "></div>
<div id="bigframe-zombie" class="bigframe" style="background:#202020;  padding:10px;  border-radius:7px; width:90%; height:95%; position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; z-index:9999; display:none; ">
   <button type="button" id="player" onclick="closeBigframe('zombie');" style="opacity:1; display:inline-block; width:30px;height:30px;"class="close" >&times;</button>
   <div class="bigframe-body" >
      <h2 class="modal-title" id="myModalLabel" style= "border-bottom: 2px solid rgb(217,83,79); padding-bottom:2px;">Zombie List</h2>
      <h3 style="margin-top:2px;">Total # of Zombies: <%=@tasks.count %></h3>
      <div id="zombie-list-container" style="overflow-y:scroll;height:40%; position:relative;">
      <ul id="zombie-list">
        
         <%= render @tasks %>
      </ul>
      </div>
   </div>
</div>
<!--       The End       -->
<script>
   
function reset(path){
   document.getElementById(path).click();
ajaxReload();
}
</script>

