<%= simple_form_for(@zombie_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :latitude, :id => "centre_latitude" %>
    <%= f.input :longitude, :id => "centre_longitude"%>
   <%= f.input :address %>
    <h4>Title</h4><%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :id => "submitHorde"%>
  </div>

<% end %>