<link rel="stylesheet" type="text/css" href="rules.css">
<title>Official Rules</title>
<div id = "overlay">
  </div>

<section id="rules" class="yellow clearfix" style=" overflow-y:scroll; margin-bottom:10px; position:fixed;max-height:98%;">
  <div class="contents"style=" max-height:98%; width:100% !important;">
  <center><h6>The Rules</h6></center>
    <p class="rules-intro">
    These are the official &rdquo;Goucher-Style&rdquo; Humans vs. Zombies rules as invented by Brad Sappington and Chris Weed in 2005, with a few changes since to make the game more balanced and safe.
    </p>
    
    <h2>
    Overview
    </h2>
    <p>
    Humans vs. Zombies is a game of tag. All players begin as humans, and one is randomly chosen to be the &ldquo;Original Zombie.&rdquo; The Original Zombie tags human players and turns them into zombies. Zombies must tag and eat a human every 48 hours or they starve to death and are out of the game.
    </p>
    <h2>
    Objective
    </h2>
    <p>
    The Zombies win when all human players have been tagged and turned into zombies.
    </p>
    <p>
    The Humans win by surviving long enough for all of the zombies to starve.
    </p>
    <h2>
    Equipment
    </h2>
    <div class='equipment-row'>
      <div class='equipment-item'>
        <center>
        <%= image_tag("eq1.png", class: "eq-big-img", alt: "") %>
        </center>
      </div>
      <div class='equipment-item'>
        <center>
        <%=  image_tag("eq2.png", class: "eq-big-img", alt: "") %>
        </center>
      </div>
      <div class='equipment-item'>
        <center>
        <%=  image_tag("eq3.png", class: "eq-big-img", alt: "") %>
        </center>
      </div>
    </div>
    <div class="equipment-row">
      <div class='equipment-item'>
        <center>
        <span class='eq-label'>
        Bandana
        </span>
        <br>
        <%=  image_tag("check.png", class: 'check', alt: "") %>
        </center>
      </div>
      <div class='equipment-item'>
        <center>
        <span class='eq-label'>
        Foam Dart Blaster
        </span>
        <br>
        <%=  image_tag("check.png", class: "check", alt: "") %>
        <br/>
        <br>
        <span class='eq-label'>
        Marshmallow Launcher
        </span>
        <br>
        <%=  image_tag("check.png", class: "check", alt: "") %>
        <br/>
        <br>
        <span class='eq-label'>
        and/or socks
        </span>
        <br>
        <%=  image_tag("check.png", class: "check", alt: "") %>          </center>
      </div>
      <div class='equipment-item'>
        <center>
        <span class='eq-label'>
        One 3x5 index card
        </span>
        <br>
        <%=  image_tag("check.png", class: "check", alt: "") %>          </center>
      </div>
    </div>
    <h2>
    Safe Zones
    </h2>
    <p>
    Some areas on campus are &ldquo;no play zones,&rdquo; where the game is permanently suspended. Blasters must be concealed and no players may be stunned or tagged. These areas include:
    </p>
    <div class='no-play-row'>
      <div class='no-play-item'>
        <center>
        <%=  image_tag("no1.png", class: "no-play-img", alt: "") %>
        <span class='no-play-label'>
        Bathrooms
        </span>
        </center>
      </div>
      <div class='no-play-item'>
        <center>
        <%=  image_tag("no2.png", class: "no-play-img", alt: "") %>
        <span class='no-play-label'>
        Health Centers
        </span>
        </center>
      </div>
      <div class='no-play-item'>
        <center>
        <%=  image_tag("no3.png", class: "no-play-img", alt: "") %>
        <span class='no-play-label'>
        Libraries
        </span>
        </center>
      </div>
      <div class='no-play-item'>
        <center>
        <%=  image_tag("no4.png", class: "no-play-img", alt: "") %>
        <span class='no-play-label'>
        Indoor Athletic Facilities
        </span>
        </center>
      </div>
      <div class='no-play-item'>
        <center>
        <%=  image_tag("no5.png", class: "no-play-img", alt: "") %>
        <span class='no-play-label'>
        Academic buildings
        </span>
        </center>
      </div>
    </div>
    <p>
    Other areas on campus are merely "safe zones", where gameplay continues but humans can't be tagged (unless a zombie has both of their feet outside the safe zone). These areas include:
    <strong>
    Dorm rooms
    </strong>
    and
    <strong>
    Dining Halls
    </strong>
    </p>
    <h2>
    Safety Rules
    </h2>
    <p>
    Rules created for the safety of all players are strictly enforced. Violation of safety rules will result in a ban from the game.
    </p>
    <div class='safety-row'>
      <div class='safety-item'>
        <%=  image_tag("safety1.png",id:"safety-img-1", class: "safety-img", alt: "") %>
        <div class='safety-text'>
          <ol>
            <li>
              No realistic looking weaponry. Blasters must be brightly colored and have blaze-orange tips.
            </li>
          </ol>
        </div>
      </div>
      <div class='safety-item'>
        <%=  image_tag("safety2.png",id:"safety-img-2", class: "safety-img", alt: "") %>
        <div class='safety-text'>
          <ol start='2'>
            <li>
              Blasters may not be visible inside of academic buildings or jobs on campus.
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class='safety-row'>
      <div class='safety-item'>
        <%=  image_tag("safety3.png",id:"safety-img-3", class: "safety-img", alt: "") %>
        <div class='safety-text'>
          <ol start='3'>
            <li>
              Players may not use cars or play where there is traffic.
            </li>
          </ol>
        </div>
      </div>
      <div class='safety-item'>
        <%=  image_tag("safety4.png",id:"safety-img-4", class: "safety-img", alt: "") %>
        <div class='safety-text'>
          <ol start='4'>
            <li>
              Socks, Darts or Marshmallows must not hurt on impact.*
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class='safety-disclaimer'>
      <small>
      *Foam dart blasters and marshmallow launchers are children&rsquo;s toys &ndash; it should be obvious that your blaster won&rsquo;t hurt anyone. If you modify your blaster or are somehow not sure if it is safe, speak with a moderator and ask them to check your blaster.
      </small>
    </div>
    <div class='team-rules-row'>
      <div class='team-column'>
        <center>
        <h2>
        Human Rules
        </h2>
        </center>
        <p>
        <strong>
        Wearing a Bandanna:
        </strong>
        Humans must wear a headband around an arm or leg to identify them as players of the game. (This headband will come in handy when you become a zombie!)
        </p>
        <p>
        <strong>
        Stunning a Zombie:
        </strong>
        Humans may stun a Zombie for 15 minutes by blasting them with a blaster or throwing a sock at them.
        </p>
        <p>
        <strong>
        When Tagged By a Zombie:
        </strong>
        When tagged by a Zombie, a Human is required to distribute their ID card. One hour after being tagged, tie your bandanna around your head &ndash; you are now a member of the Zombie team! Go tag some Humans.
        </p>
        <p>
        <strong>
        I.D. Number:
        </strong>
        Humans must keep an index card with their unique identification number on them at all times.
        </p>
        <p>
        <strong>
        Staying On Campus:
        </strong>
        Humans must sleep on campus. If you need to leave campus for longer than 24 hours, contact the game moderators and remove yourself from the game.
        </p>
      </div>
      <div class='team-column'>
        <center>
        <h2>
        Zombie Rules
        </h2>
        </center>
        <p>
        <strong>
        Feeding:
        </strong>
        Zombies must feed every 48 hours. A zombie feeds by reporting their tag on the website.
        </p>
        <p>
        <strong>
        Tagging
        </strong>
        : A tag is a firm touch to any part of a Human. After tagging a Human the Zombie must collect their ID card and report the tag.
        </p>
        <p>
        <strong>
        Getting Shot:
        </strong>
        When hit with a dart, a marshmallow, or a sock, a Zombie is stunned for 15 minutes. A stunned zombie may not interact with the game in any way. This includes shielding other zombies from bullets or continuing to run toward a human. If shot while stunned, the zombie&rsquo;s stun timer is reset back to 15 minutes.
        </p>
        <p>
        <strong>
        Wearing A Headband:
        </strong>
        Zombies must wear a bandanna around their heads at all times. The Original Zombie does not need to wear a headband.
        </p>
      </div>
    </div>
    <h2>
    Other Rules
    </h2>
    <p>
    Blasting Non-Players: Blasting non-players is a bannable offense.
    </p>
    <p>
    Non-Player Interference: People who are not registered participants may not directly interact with the game. This includes bringing food to humans or spying for either team.
    </p>
    <p>
    Safe Zones: A zombie must have both feet outside of a safe zone to tag a human. Humans can stun zombies from inside of a safe-zone.
    </p>
    <p>
    No Shields: Zombies may not use shields to deflect foam darts, marshmallows or socks.
    </p>
    <p>
    Athletes: Athletes are safe during official practices, but not on the way to or from practice.
    </p>
    <p>
    Required Academic Events: Similarly, students at required academic events are safe for the duration of the event (even if this event is in a free-play zone), but they are not safe on the way to or from the event.
    </p>
    <div class='dbag-row'>
      <h2>
      DBag Clause
      </h2>
      <p>
      Don&rsquo;t be a douchebag. Everyone plays Humans vs. Zombies to have fun, and the rules of HvZ only exist because we agree they do. That&rsquo;s why the most important rule of Humans vs. Zombies is to treat your fellow players with respect, and gracefully accept when you have been tagged or stunned.
      </p>
    </div>
  </div>
</section>

