<div class="page-header">
  <h2 style = "text-align:center; margin-bottom:0px!important;">Administrator Dashboard</h2>
</div>
<%= search_form_for @q, :url => admin_users_path, :html => { :method => :get, :class => "well form-inline", :style=>"margin-top:-12px!important;"} do |f| %>
<center>
       <button class="reset reset-everything btn btn-lg btn-danger buttons-4" style ="width:49%!important; "onclick="reset();">Reset Zombies</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger buttons-4" onclick="reset();" style ="width:49%!important; ">Reset Messages</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger buttons-4" onclick="reset();"style ="width:49%!important; ">Reset Map </button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
       <button class="reset reset-everything btn btn-lg btn-danger buttons-4" onclick="reset('resetPath');"style ="width:49%!important; ">Reset Everything</button>
       <%= link_to 'reset',reset_path, :id =>"resetPath" ,:class=>"hidden" %>
  </center>
  <div class="form-group">
    <%= f.text_field :name_cont, :type => "search", :class => "form-control", :placeholder => "Search by name" %>
    <br>
    <%= f.text_field :email_cont, :type => "search", :class => "form-control", :placeholder => "Search by email" %>
  </div>
  <%= f.submit "Search", :class => "btn btn-default" %>
<% end %>

<table class="sortable table table-striped table-bordered table-condensed table-responsive admin-table">
  <thead>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "created_at", "Signed up" %></th>
      <th><%= sortable "sign_in_count", "Times signed in" %></th>
      <th><%= sortable "last_sign_in_at", "Last signed in" %></th>
      <!--<th><%= sortable "last_sign_in_ip", "Last sign in IP" %></th>-->
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="user">
        <td><%= link_to(user.id, admin_user_path(user)) %></td>
        <td><%= link_to(user.name, admin_user_path(user)) %></td>
        <td><%= link_to(user.email, admin_user_path(user)) %></td>
        <td><%= l( user.created_at, :format => :short) %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= l( user.last_sign_in_at, :format => :long) %></td>
        <!--<td><%= user.last_sign_in_ip %></td>-->
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
